
body {
	background-color: #FFFAE6;
	
	}

#navBar {
	width:100%;
	height:200px;
	background-color: #33CCCC;
	left:0;
	top:0;
	padding-left:20px;

}


#header {
	color: white;
	font-size:10em;
	font-family: 'Cookie', cursive;
}

#footer {
	height:50px;
	color:grey;
	position:relative;
	bottom:0;
}

/*ACCOUNT SUBSET*/
#accountInfo {
	top:0;
	right:15px;
	width:25%;
	height:150px;
	background-color:#120054;
	position:absolute;
	padding:10px;
	border-bottom-left-radius:6;
	border-bottom-right-radius:6;
	border-radius: 0 0 16px 16px;
	font-family: 'Handlee';
}

#userName {
	color:white;
	font-size:26px;
}

#userInfo {
	color:white;
	font-size:15px;
	text-align:center;

}

#dropNumber {
	margin-top:10px;
	font-size:30px;


}

#logout {
	color:white;
	text-decoration: none;
	bottom:5%;
	right:5%;
	position: absolute;

}

#searchBar {
	font-family: "Poiret One";
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 8px;
}

.locationLabel {
	display: inline-block;
	width: 50px;
	font-family: "Poiret One";
	margin-right: 20px;
}

#location {
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	padding: 4px;
	display: inline-block;
	text-align: center;
}

.locationInput{
	font-family: "Poiret One";
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	font-size: 12px;
	padding-left: 8px;
	margin: 6px;
}

#submitLocation {
	font-family: "Poiret One";
	background-color: #CCCCCC;
	border: 1px solid #33CCCC;
	border-radius: 6px;
	width: 40%;
	font-size: 14px;
}

#songId {
	height: 32px;
	font-family: "Poiret One";
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	font-size: 14px;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 8px;
}

#songId:focus, #getLocationForm input:focus {
	box-shadow: 0;
	outline: none;
	box-shadow: 0 0 10px #33CCCC;
}

#submitSong {
	font-family: "Poiret One";
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #33CCCC;
	background-color: white;
	border-radius: 6px;
	padding: 7px;
}

/*DROPPING SONGS (ORIGINAL SONGS)*/
#dropBox {
	text-align:center;
	margin-top:20px;
	height:170px;
}

#songId {
	height:40px;
	width:60%;
	margin-right:auto;
	margin-left:auto;
	border-radius:6;
	font-size:20px;
}

#songDrop{
	margin-right:auto;
	margin-left:auto;
}

#songDrop:hover{
	opacity:.6;

}


/*OVERALL SONGS*/
#songBox {


}

/* SONG INFORMATION */
iframe {
 	height:80px;
    border:0;
    margin-bottom: 20px;
    width:90%;
    float:right;
  }
  
  .songPlayer {
	background-color: #99D6D6;
	width:95%;
	height:80px;
	margin-left:auto;
	margin-right: auto;
	margin-top:15px;
	padding:20px;
	border-radius: 12;
	
}

.songText {
	color:white;


}


.songText .artist{
	font-size:1.5em;



}


.songText .title {
	font-size:2em;



}

.drop {
	height: 80px;
	position:absolute;

}


.drop:hover{
	opacity:.6;
	cursor: crosshair;

}

