#aboutUsTitle {
	font-size: 35px;
	text-align: center;
	font-family: "Poiret One";
	font-weight: bold;
}

#RippleInfo {
	font-size: 23px;
	width: 75%;
	margin-left: 12.5%;
	font-family: "Poiret One";
	font-weight: bold;
}
