#accountModule {
	position:fixed;
	border-width: 10px;
	border-color: #4898bd;
	border-style: solid;
	width:55%;
	height:41%;
	background-color: #120054;
	border-radius:12px;
	padding:20px;
	top: 20px;
	margin-left: 22%;
	margin-right:auto;
	color:white;	
	z-index:103;
	overflow:scroll;
	-webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

#closeButton {
	top:25px;
	right:10px;
	font-size:2em;
	position:absolute;	
}


#accountName {
	font-size:3.2em;
	text-align:center;
	font-family: "Poiret One";
	top:35px;
}

.dropNum {
	float:left;
	font-size:3.2em;
	text-align:center;
	padding:20px;
	width:40%;
	font-family: "Poiret One";
}


#acctLink {
	clear:both;
	text-align:center;
	color:white;
	text-decoration: none;
}


#closeAccountModule {
	color:white;
	text-decoration: none;
	font-size:1.5em;
	clear:both;
	text-align:center;
	font-family: "Poiret One";
	padding-bottom:40px;
}

#buyMoreDrops {
	border: 1px solid #19668A;
	background-color: #BBDFF0;
	border-radius: 6px;
	font-family: "Poiret One";
	font-size: 1.5em;
	height: 2em;
	padding: 3px 16px 3px;
	/*padding-bottom: 0;*/
	color: #19668A;
	text-decoration: none;
	/*padding-right: 16px;*/
}

#buyMoreDrops:hover {
	background-color: #E0F5FF;
}


#songBoxTitle {
	font-size:2.1em;
	text-align:center;
	font-family: "Poiret One";
}

.userSong {
	height:50px;
	width:90%;
	position:relative;
	padding:20px;
} 


.dropNum .yourDropText {
	font-size:.6em;
	color:white;
}

