/* Landing Page CSS */

/*
Colors:
teal: #33cccc; 33 cccc 
purple: #120054;
offwhite: #fffae6;

background image
teal : http://i.imgur.com/h1muBWR.jpg
purple: http://i.imgur.com/0l9rK27.jpg
*/

body {
	/*background-color: #FFFAE6;*/
  background: url("bg/skipping.jpg") no-repeat center center fixed;
  background-size: 100% 100%;

}

/************** NAVIGATION ***************/
#navBar {
	width:100%;
	height:80px;
	background-color: #33CCCC;
	left:0;
	top:0;
	padding-left:10px;
	display: inline-block;
}


#navBar #header {
	color: white;
	font-size:6em;
	font-family: 'Cookie', cursive;
	position:absolute;
	margin-top:-20px;
	
}

#loginFields {
	float: right;
	margin-right: 3%;
	margin-top: 1%;
	height: 28px;
	display: block;
}

.loginField {
	height: 20px;
}

#submitLogin {
	border: 1px solid #11AAAA;
	background-color: #AAEEEE;
	border-radius: 6px;
	font-family: "Poiret One";
	font-size: 12px;
	margin-top: 4px;
	height: 24px;
	padding-left: 16px;
	padding-right: 16px;
}

#submitLogin:hover {
	background-color: #BBFFFF;
}


/********************** ALL THE BOXES IN THE CENTER ********************/
#contentWrap {
	text-align:center;


}

#purpleBox {
	width: 60%;
	margin-left:20%;
	margin-right:20%;
	background-color: #120054;
	height:600px;
	
	opacity:.8;
	


}

/* Title */
#ripple-title {
  font-size: 100px;
  color: #fffae6; /*fffae6*/
}

/* Tagline */
#header {
	margin-top: 50px;
	text-align: center;
  color: #fffae6; /*fffae6*/
  font-family: 'Cookie', cursive;
  font-size: 40px;
}

/* For signup box */
.signUp {
	margin-top: 30px;
	text-align: center;
	/*border-style: ridge;
	border-width: 10px;
	border-color: #fffae6;*/
	padding: 10px;
	background-color: #33cccc;
	opacity:.9;
	border:none;
}

#signUpText {
	color: #33cccc;
  font-family: "Poiret One";
}

#signUpButton {
  background-color: #33cccc;
  color: black;
  border-color: #120054;
  font-family: "Poiret One";
  border-radius: 6px;
  width: 150px;
}

#loginButton {
  background-color: #33cccc;
  color: #fffae6;
}

/* for all of the text boxes */
#loginEmail, #loginPassword, #signupEmail, #signupPassword, #signupConfirmPassword {
  background-color: white;
  border-color: #fffae6;
  color: #fffae6;
  font-family: "Poiret One";
  border-radius: 6px;
  width: 200px;
  
}
/* For placeholder color in all textboxes */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fffae6;
}

#landingPageTab {
  font-family: "Poiret One";
}



/* NavBar CSS */
/*
#rememberMe {
  color: #33cccc;
}
.navbar-default {
  background-color: #33cccc;
  border-color: #33cccc;
  background: -webkit-linear-gradient(top, rgba(51, 204, 204, 1) 0%, rgba(18, 0, 84, 1) 100%);
  background: linear-gradient(to bottom, rgba(51, 204, 204, 1) 0%, rgba(18, 0, 84, 1) 100%);
    
}
.navbar-default .navbar-brand {
  color: #fffae6;
  font-family: 'Cookie', cursive;
  font-size: 40px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fffae6;
}
.navbar-default .navbar-text {
  color: #fffae6;
}
.navbar-default .navbar-nav > li > a {
  color: #fffae6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fffae6;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #fffae6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fffae6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #33cccc;
  background-color: #fffae6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #33cccc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #33cccc;
  background-color: #fffae6;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #33cccc;
  background-color: #fffae6;
}
.navbar-default .navbar-toggle {
  border-color: #fffae6;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fffae6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fffae6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fffae6;
}
.navbar-default .navbar-link {
  color: #fffae6;
}
.navbar-default .navbar-link:hover {
  color: #33cccc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fffae6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #33cccc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #33cccc;
    background-color: #fffae6;
  }
}